@import '~@angular/material/theming';

html,
body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.dynamic-page {
  .dynamic-component {
    position: absolute;
    padding: 5px;
  }

  .mat-card {
    height: 100%;
    padding: 0;
  }

  .mat-raised-button {
    height: 100%;
    width: 100%;

    &:active {
      box-shadow: none;
    }
  }

  .dragged {
    opacity: 0.5;

    .mat-raised-button {
      &:not([disabled]):active:not([class*='mat-elevation-z']) {
        @include mat-elevation(2);
      }
    }
  }

  .draggable > * {
    user-select: none;
  }

  .mat-form-field-infix {
    border-top: 0;
  }

  mat-form-field {
    padding-right: 10px;
    width: 100%;
    text-align: center;
  }

  .mat-card-content {
    position: relative;
  }
}

mat-dialog-container {
  &.mat-dialog-container {
    // overflow: hidden;
    overflow: visible;
    padding: 0 0 24px;
  }

  .mat-dialog-actions {
    display: flex;
    justify-content: center;
  }

  .color-picker {
    border: 0;
  }
}

ucs-editor-dialog {
  .jodit_container:not(.jodit_inline) {
    .jodit_wysiwyg {
      padding: 0;
      border: 1px solid #ccc;
    }

    .jodit_workplace {
      padding: 5px;
    }
  }
}
